
.card-body {background: #ffefcb !important;}




.pdng_all {
	padding: 0 !important;
}

.pdng_l {
	padding-left: 0 !important;
}

.pdng_r {
	padding-right: 0 !important;
}

.pdng_t {
	padding-top: 0 !important;
}

.pdng_b {
	padding-bottom: 0 !important;
}


label.error {
	color: red;
}
label.is-invalid {
	color: red;
}

.bg-pink {
	color: #4d4afbff !important;
	background-color: #FFB7DB !important;
}
.td-bg-pink {
    display: table-cell;
    width: 100%;
    color: #4d4afbff !important;
    background-color: #FFB7DB !important;
}

.label-form {
    display: block;
    width: 100%;
    padding: .47rem 0;
    font-size: .8125rem;
    font-weight: 350;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-color: var(--bs-input-bg); */
    /* background-clip: padding-box; */
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    /* border-radius: var(--bs-border-radius); */
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}