
.card-body {background: #ffefcb !important;}




.pdng_all {
	padding: 0 !important;
}

.pdng_l {
	padding-left: 0 !important;
}

.pdng_r {
	padding-right: 0 !important;
}

.pdng_t {
	padding-top: 0 !important;
}

.pdng_b {
	padding-bottom: 0 !important;
}

